<div class="radius" style="border-radius: var(--borderRadius); color: var(--colorTextReversed); background-color: var(--colorPrimary)">Border radius
</div>

<style>
  div {
    width: 150px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: lightgreen;
    margin-bottom: 1em;
  }

</style>
