@mixin font($font-family, $file-path, $font-weight, $font-style) {
  @font-face {
    font-family: $font-family;
    src: url('#{$file-path}.ttf') format('ttf'),
      url('#{$file-path}.ttf') format('ttf');
    font-weight: $font-weight;
    font-style: $font-style;
  }
}

@include font('OpenSans', 'fonts/Open_Sans/OpenSans-SemiBold', 600, normal);
@include font('Nunito', 'fonts/Nunito/Nunito-Regular', 400, normal);


:root {
  --fontFamilyTitle: OpenSans, sans-serif;
  --fontFamilyMain: Nunito, sans-serif;
  --fontFamilyText: OpenSans, sans-serif;

  --fontSizeXXL: 32px;
  --fontSizeXL: 28px;
  --fontSizeL: 24px;
  --fontSizeM: 16px;
  --fontSizeS: 14px;

  --fontWeightSemiBold: 600;
  --fontWeightRegular: 400;
  --fontWeightLight: 300;

  --lineHeightMain: 1.5;
  --lineHeightLarge: 2;
}
