<main>
  <section>
    <p style="font-family: var(--fontFamilyTitle); font-weight: var(--fontWeightSemiBold)">Title : OpenSans 600 (SemiBold)
    </p>
  </section>

  <section>
    <p style="font-family: var(--fontFamilyMain); font-weight: var(--fontWeightRegular)">Text Main : Nunito 400 (Regular)</p>
    <p style="font-family: var(--fontFamilyText); font-weight: var(--fontWeightLight)">Text : OpenSans 300 (Light)</p>
  </section>
</main>

<style>
  main {
    display: flex;
  }

  p {
    margin: 2em 0 0 2em;
  }

</style>
