<div class="m-temoigne">
    <div class="temoigneTop">
        {{> @image--avatar}}
        <div>
            {{> @text--second}}
            {{> @text--third}}
        </div>
        <div>
            {{> @stars}}
            {{> @text--four}}
        </div>
    </div>
    {{> @text--five}}
</div>