:root {
  --colorPrimary: #3068C6;
  --colorPrimaryBack: rgba(48, 103, 198, 0.055);

  --colorTextTitle: #FD369D;
  --colorTextMain: #3068C6;
  --colorTextSecondary: #4A4A4A;
  --colorTextReversed: #ffffff;
}
