<section>
  <div style="background-color: var(--colorPrimary)">Primary</div>
</section>

<section>
  <div style="color: var(--colorTextTitle)">Text Title</div>
  <div style="color: var(--colorTextMain)">Text Main</div>
  <div style="color: var(--colorTextSecondary)">Text Secondary</div>
  <div style="color: var(--colorTextReversed); background-color: var(--colorPrimary)">Text Reversed</div></section>


<style>
  section {
    display: flex;
  }

  div {
    width: 100px;
    height: 100px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: sans-serif;
    margin: 0 1em 1em 0;
  }

</style>
