<section class="o-firstSection">
    <img class="imgback" src="../../img/point.png" alt="background">
    <div class="containerfirst">
        {{> @video}}
        {{> @title}}
        {{> @text}}
        {{> @button}}
    </div>
</section>

