.m-button{
    width: 343px;
    height: 45px;
    background-color: var(--colorPrimary);
    border-radius: var(--borderRadius);
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    margin-top: var(--spaceXL);
}
